.container {
    display: flex;
    height: 400px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position-y: -56px;

    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
}


.container h4 {
    margin: 0;
    color: white;
    stroke: black;
    font-family: 'Zilla Slab', serif;
    font-size: 24px;
}

.container p {
    margin: 0;
    color: white;
    stroke: black;
    font-family: 'Zilla Slab', serif;
    font-size: 18px;
}

.middlePart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    padding: 4px;
    border-radius: 100px;
    background: linear-gradient(to right, red, purple);
}

.imageHolder {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}

.imageHolder img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.notes {
    margin-top: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding: 40px;
    background: linear-gradient(167deg, rgba(34, 163, 164, 1) 0%, rgba(179, 0, 255, 1) 99%);
}

.notesCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.image {
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 6px;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cardContainer {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cardArea {

    width: 25%;
    padding: 10px 15px;
}


@media only screen and (max-width: 800px) {
    .cardArea {
        width: 50% !important;
    }
}