.container {
    display: flex;
    justify-content: flex-end;
    border-radius: 6px;
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
}

.marketplaceImg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
}

.leftArea {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    background-color: #434141;
    padding: 50px 10px 20px 20px;
    font-family: 'Zilla Slab', serif;
}

.leftArea h4 {
    font-size: 42px;
    margin: 0px;
}

.leftArea p {
    max-width: 90%;
}

.leftArea button {
    border: none;
    padding-left: 50px;
    padding-right: 50px;
}

.leftArea button:hover {
    border-radius: 5px;
    background-color: rgb(214, 207, 207);
}