html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header: #242526;
  --headerSecondary: #3a3b3c;
}

input[type="text"] {
  outline: none;
}



button {
  cursor: pointer;
}

body {
  background: #ddd;
}

.middleContainer {
  margin: 0 auto;
  max-width: 1380px;

}

.button {
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  font-family: 'Zilla Slab', serif;
}